<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body class="bg-secondary">
    <div class="container">
        <div class="card w-50 mx-auto mt-5 text-bg-dark shadow-lg">
            <div class="card-header fs-2">
                {{ user.first_name }} {{ user.last_name }}'s Dashboard
            </div>
            <div class="card-body">
                <p>Hello, {{ user.first_name }}, welcome to the dashboard.</p>
                <p>You've been a user since {{ user.created_at }}.</p>
                <p>Thanks for being here!</p>
            </div>
            <div class="card-footer text-muted">
                <a href="/logout">Click here to logout!</a>
            </div>
        </div>
    </div>
</body>
</html>