<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body class="bg-secondary">
    <div class="container">
        <div class="card w-50 mx-auto mt-5 text-bg-dark shadow-lg">
            <div class="card-header fs-2">
                User Dashboard
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi, laudantium magnam voluptatum aspernatur vero debitis at id ab labore quis aut nemo soluta delectus quam, impedit aliquid veritatis laborum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi, laudantium magnam voluptatum aspernatur vero debitis at id ab labore quis aut nemo soluta delectus quam, impedit aliquid veritatis laborum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi, laudantium magnam voluptatum aspernatur vero debitis at id ab labore quis aut nemo soluta delectus quam, impedit aliquid veritatis laborum!</p>
            </div>
            <div class="card-footer text-muted">
                Why are you here?
            </div>
        </div>
    </div>
</body>
</html>